# Environment Variables (Keep secrets safe)
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# FAISS and Pickle cache files
*.bin
*.pkl

# Zip archives
*.zip

# OS / IDE artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/
